.grid {
	display: table;
	border: none;
    border-collapse: collapse;
	table-layout: fixed;
}
.grid td {
	padding: 0px;
}

.portfolio-box {
	display: block;
	overflow: hidden;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 100%;
	width: 100%
}
.portfolio-box > .img-fluid {
	min-width: 100%;
	min-height: 100%;
}

.flex-h {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.flex-v {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.codeBlock {
	font-family: monospace;
	word-wrap: break-word;
	overflow: auto;
	
	background-color: #dddddd;
	color: black;
	padding: 0.5em;
	
	counter-reset: lineNum;
}
.codeBlock > code {
	counter-increment: line;
}
.codeBlock > code:before{
    content: counter(line) "  ";
	-webkit-user-select: none;
}
